asgiref==3.4.1
beautifulsoup4==4.10.0
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.9
djangify==1.0.0
Django==4.0
django-ckeditor==6.2.0
django-compression-middleware==0.4.1
django-js-asset==1.2.2
django-mathfilters==1.0.0
django-paypal==1.1.2
djangorestframework==3.12.4
html5lib==1.1
idna==3.3
paypal==1.2.5
Pillow==8.4.0
pycryptodome==3.13.0
pytz==2021.3
razorpay==1.2.0
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.7
webencodings==0.5.1
zstandard==0.16.0
pandas