{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% load custumfilter %}
    {% with ''|getAbout as aboutdata %}
    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequel | {{pagetitle}}</title>
   
    <link href=" {% static 'css/main.css' %} " rel="stylesheet" type="text/css">
    <link rel="icon" href="{{aboutdata.favicon.url}} " type="image/png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
</head>

<body>
    <div class="{{bodyclass}}">
        {% include 'header.html' with aboutdata=aboutdata  %}

  
        {% block body %}{% endblock %}
        
        {% include 'footer.html' with aboutdata=aboutdata   %}

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src=" {% static 'js/index.js' %} "></script>
    
      </div>
    </body>
    <script type="text/javascript" src="/static/js/sticky-sidebar.js"></script>
<script type="text/javascript" src="/static/js/ResizeSensor.js"></script>

    {% block basicscript %}
    {% endblock %}
    {% endwith %}
    </html>